.AddHiddenRec {
    display: none;
    background-color: rgba(0, 0, 0, 0.699);
    cursor: pointer;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.AddHiddenRecContent {
    height: 600px;
    width: 600px;
    background-color: white;
    cursor: default;
}
