.edit-budget-overlay {
    opacity: 0;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
    visibility: hidden;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
    z-index: 1050;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    font-size: 16px;
}

.edit-budget-overlay.visible {
    opacity: 1;
    visibility: visible;
}

.edit-budget-container {
    position: relative;
    background: #f5f5f5;
    max-width: 300px;
    padding: 30px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
    cursor: default;
    max-height: 90%;
    opacity: 0;
    border-radius: 12px;
    transform: scale(0.7);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.edit-budget-overlay.visible .edit-budget-container {
    opacity: 1;
    transform: scale(1);
}

.edit-budget-container h2 {
    margin-top: 0;
    margin-bottom: 1.5rem;
}

.edit-budget-container form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.edit-budget-container input,
.edit-budget-container select {
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
}

.edit-budget-container button {
    padding: 0.75rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}

.edit-budget-container .close-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: none;
    font-size: 1.5rem;
    padding: 0;
}

.submit-button:hover {
    background-color: #0056b3 !important;
}

.btn-confirm {
    background: #e53e3e;
    color: #fff;
}

.btn-confirm:hover {
    background: #c53030;
}