/* AddHiddenRec Modal */
.AddHiddenRec {
    opacity: 0;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
    visibility: hidden;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
    z-index: 1050;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.AddHiddenRec.visible {
    opacity: 1;
    visibility: visible;
}

/* Modal Content */
.AddHiddenRecContent {
    position: relative;
    background: #fff;
    max-width: 600px;
    padding: 30px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
    cursor: default;
    max-height: 90%;
    opacity: 0;
    border-radius: 12px;
    transform: scale(0.7);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.AddHiddenRec.visible .AddHiddenRecContent {
    transform: scale(1);
    opacity: 1;
}

/* Form Inputs */
.AddHiddenRecContent input,
.AddHiddenRecContent .react-datepicker__input-container input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

.AddHiddenRecContent input:focus {
    border-color: #2290f7;
    outline: none;
}

/* Labels and Titles */
.AddHiddenRecContent .form-floating>label {
    left: 15px !important;
    transition: all 0.3s ease;
}

.AddHiddenRecContent .spanTitle {
    color: #2290f7;
    font-size: 14px;
    font-weight: bold;
}

.AddHiddenRecContent span {
    color: #f72222;
    font-weight: 600;
}


/* Responsive Design */
@media (max-width: 768px) {
    .AddHiddenRecContent {
        width: 95%;
        max-width: 500px;
        padding: 20px;
    }

    .AddHiddenRecContent input {
        font-size: 14px;
    }

    .AddHiddenRecContent .button-29 {
        font-size: 14px;
        padding: 10px;
    }
}

@media (max-width: 480px) {
    .AddHiddenRecContent {
        width: 90%;
        max-width: 400px;
        padding: 15px;
    }
}