.add-category-overlay {
    opacity: 0;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
    visibility: hidden;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
    z-index: 1050;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    font-size: 16px;
}

.add-category-overlay.visible {
    opacity: 1;
    visibility: visible;
}

.add-category-modal {
    position: relative;
    background: #fff;
    max-width: 300px;
    padding: 30px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
    cursor: default;
    max-height: 90%;
    opacity: 0;
    border-radius: 12px;
    transform: scale(0.7);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.add-category-modal>form {
    text-align: center;
    align-items: center !important;
    display: flex;
    flex-direction: column;
}

.add-category-modal>form input {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.add-category-modal>form label {
    font-size: 20px;
    font-weight: 600;
}

.add-category-overlay.visible .add-category-modal {
    transform: scale(1);
    opacity: 1;
}

.submit-button {
    margin-top: 10px;
    background-color: #007bff !important;
    width: 100px;
    font-size: 18px;
    color: white;
}

.submit-button:hover {
    background-color: #0056b3 !important;
}

.btn-cancel {
    background-color: #6c757d;
    color: white;
}

.btn-cancel:hover {
    background-color: #545b62;
}

.error-message {
    color: #e65252;
    font-size: 16px;
    margin-top: 5px;
}